// --Font
@font-face {
  font-family: "RobotoCondensed";
  src: url("../assets/fonts/RobotoCondensed-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../assets/fonts/RobotoCondensed-Regular.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../assets/fonts/RobotoCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
